/** {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: Arial;
}

body {
    font-family: Arial,sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

.container {
    position: relative;
}*/

/*@font-face {
    font-family: 'SS-Bold';
    src: url('../fonts/SharpSans/SharpSans-Bold.eot');
    src: url('../fonts/SharpSans/SharpSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SharpSans/SharpSans-Bold.woff') format('woff'), url('../fonts/SharpSans/SharpSans-Bold.ttf') format('truetype'), url('../fonts/SharpSans/SharpSans-Bold.svg') format('svg');
}

@font-face {
    font-family: 'SS-Regular';
    src: url('../fonts/SharpSans/SharpSansRegular.eot');
    src: url('../fonts/SharpSans/SharpSansRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/SharpSans/SharpSansRegular.woff') format('woff'), url('../fonts/SharpSans/SharpSansRegular.ttf') format('truetype'), url('../fonts/SharpSans/SharpSansRegular.svg') format('svg');
    font-weight: normal;
}*/
/*@font-face {
    src: url('../fonts/HLT Fall For You.ttf');
    font-family: htl-fallforyou;
}

@font-face {
    font-family: avobold;
    src: url('../fonts/UTM AvoBold.ttf');
}

@font-face {
    src: url('../fonts/UTM Avo.ttf');
    font-family: avo;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    overflow-x: hidden;
}

a, a:hover, a:focus, a:active {
    outline: none;
    text-decoration: none;
    color: #000000;
}

.container {
    position: relative;
}

.content-1 {*/
/* background-color: #cccccc;*/
/*  background-repeat: no-repeat;*/
/*padding: 68px 0 428px 0;
    background: url(../images/img-banner-s1.jpg) no-repeat scroll bottom;
    background-size: cover;
}

.txt-1 {
    font-family: "htl-fallforyou";
    font-size: 38px;
    color: #ca0d54;
    text-transform: uppercase;
    font-weight: 700;
}

.info {
    display: block;
    text-align: center;
}

.txt-img h3 {
    background: url(../images/icon-s1.png) no-repeat 10px center;*/
/* background-size: cover;*/
/*font-family: avobold;
    font-size: 35px;
    color: #0287d1;
    padding: 31px 0 42px 170px;
    display: inline-block;
}

.txt-img h4 {
    font-family: avo;
    font-size: 95px;
    color: #0287d1;
    display: inline-block;
}

.btn-select li:first-child {
    display: block;
    width: 100%
}

.btn-select li {
    display: inline-block;
    margin-bottom: 15px;
}

.btn-select ul li a {
    font-family: avo;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 6px;
    margin-left: 10px
}

.bnt-1 {
    background-color: #ca0d54;
    padding: 5px 10px 5px 10px;
}

.bnt-2 {
    background: #026eab;
    padding: 5px 20px 5px 20px;
}

.bnt-3 {
    background: #f2961b;
    padding: 5px 20px 5px 20px;
}

.content-2 {
    padding: 30px 0 65px 0;
    background: #f6d28f;
}

.title {
    text-align: center
}

    .title h2 {
        display: inline-block;
        font-family: "avobold";
        font-size: 40px;
        color: #ca0d54;
        text-transform: uppercase;
        font-weight: 700;
        background: url(../images/icon-chim-s2.png)left center no-repeat,url(../images/icon-chim-s2-right.png)right center no-repeat;
        padding: 10px 100px;*/
/* background: url(../images/icon-chim-s2-right.png) no-repeat ;*/
/*}

ul.img-list {*/
/*   display: inline-block;*/
/*text-align: center;
}

.img-list li {
    float: left;
    width: 33.33%;
    padding-left: 60px;
    text-align: center;
    position: relative;
}

.mt-liitem .edit {
    position: absolute;
    top: 136px;
    right: -60px;
    z-index: 999;
}*/

/* .edit img {
        top: 0px; 
        position: relative;
        vertical-align: middle;
       
    }*/
/*.mt-liitem .edit {
    display: none
}

@media (min-width: 768px) and (max-width: 992px) {
    .mt-liitem .edit {
        display: none;
    }

    @media (min-width: 993px) and (max-width: 1199px) {
        .mt-liitem .edit img {
            width: 60%;
        }
    }



    .txt-2 p {
        font-family: htl-fallforyou;
        font-size: 24px;
        color: #1c1c1c;
        margin-top: 5px;
    }
}*/
/*
    Content 3

*/

/*.content-3 {
    padding: 73px 0 77px 0;
    background: #f2f2f2 url('../images/bg-s3.jpg') no-repeat top center;
}

.line {
    padding: 0 0 70px 0;
}

.txt-2 {
    margin: 20px 0px 25px;
    text-align: center
}

    .txt-2 h2 {
        display: inline-block;
        font-family: "avobold";
        font-size: 40px;
        color: #026eab;
        text-transform: uppercase;
        font-weight: 700;
        background: url(../images/icon-s3-left.png)left center no-repeat,url(../images/icon-s3-right.png)right center no-repeat;
        padding: 10px 100px;*/
/* background: url(../images/icon-chim-s2-right.png) no-repeat ;*/
/*}

.txt-3 {
    margin: 10px 0 10px;
}

.lbl-txt {
    font-weight: 600;
    display: block;
    font-size: 18px;
    color: #464646;
}

.form-bt {
    margin: 0 -5px;
}

    .form-bt li {
        padding: 0 5px;
        float: left;
        position: relative;
        vertical-align: top;
    }

.inp {
    width: 80%;
}

.btn-bt {
    width: 20%;
}

.sv-ulfr-btn {
    width: 100%;
}

.table {
    border: none;
}

.txt-4 {
    padding: 40px 0 15px;
    text-align: center;
}

    .txt-4 p {
        font-family: avo;
        color: #026eab;
        font-size: 18px;
        font-weight: 400
    }

.lst-img {
    padding: 10px 0 30px 0;
    margin: 30px 0 0 0;
    
  
}

.lst-img li {
    float: left;
    display: inline-block;
    width: 33.3333%;
    padding-left: 20px;
}
.lst-img li a {
    text-decoration: none
}

.img-1 {
    display: inline-block
}
.lst-img li p  strong {
    display: inline-block
}
.note {
    text-align: center;
    margin-top: 290px;
    padding: 30px 0;
    -webkit-box-shadow: 1px 2px 5px 1px #dcdcdc;
    box-shadow: 1px 2px 5px 1px #dcdcdc;
    border: 1px solid #eaeaea;
    overflow: hidden;
}
.list-note {
    padding: 0 140px;
    margin-top: 15px;
    display : inline-block
}
    .list-note li {
        display: table;
        float: left;*/
/* width: 100%;*/
/*padding-left: 20px;
    }
    .list-note li p {
        padding-left: 40px;
        margin-bottom : 10px;
        font-family : Arial;
        font-size : 14px;
        display : table-cell ;*/
/* width : 50%*/
/*}
    .list-note li p span{
        display : inline-block;
        width : 5px;
        height : 5px;
        background : #000 ;
        vertical-align : middle;
       margin-right: 20px;
        border-radius : 50%;
    }*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: Arial;
}

body {
    font-family: Arial,sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

.container {
    position: relative;
}

/*@font-face {
    font-family: 'SS-Bold';
    src: url('../fonts/SharpSans/SharpSans-Bold.eot');
    src: url('../fonts/SharpSans/SharpSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SharpSans/SharpSans-Bold.woff') format('woff'), url('../fonts/SharpSans/SharpSans-Bold.ttf') format('truetype'), url('../fonts/SharpSans/SharpSans-Bold.svg') format('svg');
}

@font-face {
    font-family: 'SS-Regular';
    src: url('../fonts/SharpSans/SharpSansRegular.eot');
    src: url('../fonts/SharpSans/SharpSansRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/SharpSans/SharpSansRegular.woff') format('woff'), url('../fonts/SharpSans/SharpSansRegular.ttf') format('truetype'), url('../fonts/SharpSans/SharpSansRegular.svg') format('svg');
    font-weight: normal;
}*/
@font-face {
    src: url('../fonts/HLT Fall For You.ttf');
    font-family: htl-fallforyou;
}

@font-face {
    font-family: avobold;
    src: url('../fonts/UTM AvoBold.ttf');
}

@font-face {
    src: url('../fonts/UTM Avo.ttf');
    font-family: avo;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    overflow-x: hidden;
}

a, a:hover, a:focus, a:active {
    outline: none;
    text-decoration: none;
    color: #000000;
}

.container {
    position: relative;
}

.content-1 {
    /* background-color: #cccccc;*/
    /*  background-repeat: no-repeat;*/
    padding: 68px 0 428px 0;
    background: url(../images/img-banner-s1.jpg) no-repeat scroll bottom;
    background-size: cover;
}

.txt-1 {
    font-family: "htl-fallforyou";
    font-size: 38px;
    color: #ca0d54;
    text-transform: uppercase;
    font-weight: 700;
}

.info {
    display: block;
    text-align: center;
}

.txt-img h3 {
    background: url(../images/icon-s1.png) no-repeat 10px center;
    /* background-size: cover;*/
    font-family: avobold;
    font-size: 35px;
    color: #0287d1;
    padding: 31px 0 42px 170px;
    display: inline-block;
}

.txt-img h4 {
    font-family: avo;
    font-size: 95px;
    color: #0287d1;
    display: inline-block;
}

.btn-select li:first-child {
    display: block;
    width: 100%
}

.btn-select li {
    display: inline-block;
    margin-bottom: 15px;
}

.btn-select ul li a {
    font-family: avo;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 6px;
    margin-left: 10px
}

.bnt-1 {
    background-color: #ca0d54;
    padding: 5px 10px 5px 10px;
}

.bnt-2 {
    background: #026eab;
    padding: 5px 20px 5px 20px;
}

.bnt-3 {
    background: #f2961b;
    padding: 5px 20px 5px 20px;
}

.content-2 {
    padding: 30px 0 65px 0;
    background: #f6d28f;
}

.title {
    text-align: center
}

    .title h2 {
        display: inline-block;
        font-family: "avobold";
        font-size: 40px;
        color: #ca0d54;
        text-transform: uppercase;
        font-weight: 700;
        background: url(../images/icon-chim-s2.png)left center no-repeat,url(../images/icon-chim-s2-right.png)right center no-repeat;
        padding: 10px 100px;
        /* background: url(../images/icon-chim-s2-right.png) no-repeat ;*/
    }

ul.img-list {
    /*   display: inline-block;*/
    text-align: center;
}

.img-list li {
    float: left;
    width: 33.33%;
    padding-left: 60px;
    text-align: center;
    position: relative;
}

.mt-liitem .edit {
    position: absolute;
    top: 136px;
    right: -60px;
    z-index: 999;
}

/* .edit img {
        top: 0px; 
        position: relative;
        vertical-align: middle;
       
    }*/
.mt-liitem .edit {
    display: none
}

@media (min-width: 768px) and (max-width: 992px) {
    .mt-liitem .edit {
        display: none;
    }

    @media (min-width: 993px) and (max-width: 1199px) {
        .mt-liitem .edit img {
            width: 60%;
        }
    }



    .txt-2 p {
        font-family: htl-fallforyou;
        font-size: 24px;
        color: #1c1c1c;
        margin-top: 5px;
    }
}
/*
    Content 3

*/

.content-3 {
    padding: 73px 0 77px 0;
    background: #f2f2f2 url('../images/bg-s3.jpg') no-repeat top center;
}

.line {
    padding: 0 0 70px 0;
}

.txt-2 {
    margin: 20px 0px 25px;
    text-align: center
}

    .txt-2 h2 {
        display: inline-block;
        font-family: "avobold";
        font-size: 40px;
        color: #026eab;
        text-transform: uppercase;
        font-weight: 700;
        background: url(../images/icon-s3-left.png)left center no-repeat,url(../images/icon-s3-right.png)right center no-repeat;
        padding: 10px 100px;
        /* background: url(../images/icon-chim-s2-right.png) no-repeat ;*/
    }

.txt-3 {
    margin: 10px 0 10px;
}

.lbl-txt {
    font-weight: 600;
    display: block;
    font-size: 18px;
    color: #464646;
}

.form-bt {
    margin: 0 -5px;
}

    .form-bt li {
        padding: 0 5px;
        float: left;
        position: relative;
        vertical-align: top;
    }

.inp {
    width: 80%;
}

.btn-bt {
    width: 20%;
}

.sv-ulfr-btn {
    width: 100%;
}

.table {
    border: none;
}

.txt-4 {
    padding: 40px 0 15px;
    text-align: center;
}

    .txt-4 p {
        font-family: avo;
        color: #026eab;
        font-size: 18px;
        font-weight: 400
    }

.lst-img {
    padding: 10px 0 30px 0;
    margin: 30px 0 0 0;
}

    .lst-img li {
        float: left;
        display: inline-block;
        width: 33.3333%;
        padding-left: 20px;
    }

        .lst-img li a {
            text-decoration: none
        }

.img-1 {
    display: inline-block
}

.lst-img li p strong {
    display: inline-block
}

.note {
    text-align: center;
    margin-top: 290px;
    padding: 30px 0;
    -webkit-box-shadow: 1px 2px 5px 1px #dcdcdc;
    box-shadow: 1px 2px 5px 1px #dcdcdc;
    border: 1px solid #eaeaea;
    overflow: hidden;
}

.list-note {
    padding: 0 140px;
    margin-top: 15px;
    display: inline-block
}

    .list-note li {
        display: table;
        float: left;
        /* width: 100%;*/
        padding-left: 20px;
    }

        .list-note li p {
            padding-left: 40px;
            margin-bottom: 10px;
            font-family: Arial;
            font-size: 14px;
            display: table-cell;
            /* width : 50%*/
        }

            .list-note li p span {
                display: inline-block;
                width: 5px;
                height: 5px;
                background: #000;
                vertical-align: middle;
                margin-right: 20px;
                border-radius: 50%;
            }

.content-4 {
    background: #192431;
    padding: 45px 0 45px 0;
    /* display :table;
    width : 100%;*/
}

.title-1 {
    text-align: center
}

    .title-1 h2 {
        display: inline-block;
        font-family: "avobold";
        font-size: 40px;
        color: #f8b42b;
        text-transform: uppercase;
        font-weight: 700;
        background: url(../images/icon-s4-left.png)left center no-repeat,url(../images/icon-s4-right.png)right center no-repeat;
        padding: 10px 100px;
    }

.menu {
    background: #f8b42b;
    padding-left: 40px;
    height: 50px;
    width: 100%;
    display: table;
    position: relative;
    margin-bottom: 22px;
    display: table;
    width: 100%;
    margin-top: 10px
}

.lst-menu {
    display: table-cell;
    vertical-align: middle;
    width: 70%;
}

    .lst-menu li {
        float: left;
        margin-top: 10px;
        padding: 0 10px 0 5px;
    }

        .lst-menu li.active a, .lst-menu li:hover a {
            background: #c68400;
            font-family: avobold;
            color: white;
            padding: 3px 20px 5px 20px;
        }

        .lst-menu li a {
            text-decoration: none;
            font-size: 18px;
            font-family: avo;
            color: #192431;
            text-transform: uppercase;
            padding: 5px 20px;
        }

.soc {
    line-height: 30px;
    vertical-align: middle;
    color: #192431;
    top: -4px;
}

.sv-prod-tab-sear {
    display: table-cell;
    width: 30%;
    vertical-align: middle;
    margin-right: 20px;
    position: relative;
    right: 20px;
}

.sv-tab-btn {
    background: #d41212;
    color: #fff;
}

.input-group-btn button {
    background: #d41212;
    color: #fff;
    height: 35px
}

.lst-ads {
    width: 100%;
}

.sub-list {
    background-color: white;
    height: 415px
}

.icon {
    position: absolute;
    margin-top: 10px;
    background: #f14f42;
    height: 28px;
    float: right;
    right: 15px;
    white-space: nowrap;
    display: inline-block;
    line-height: 28px;
}

    .icon i {
        /*     position: relative;
        color: white;
        font-style: normal;
        font-size: 14px;
        padding: 0 5px 0 0;
        display: block;*/
        position: relative;
        font-style: normal;
        display: block;
        color: #FFFFFF;
        font-size: 14px;
        padding: 0 5px 0 0;
    }

        .icon i:before {
            /*content: "";
            position: absolute;
            left: 237px;
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 14px solid transparent;
            border-bottom: 14px solid transparent;
            border-right: 10px solid #f14f42;*/
            content: "";
            position: absolute;
            top: 0;
            left: -10px;
            border-top: 14px solid transparent;
            border-bottom: 14px solid transparent;
            border-right: 10px solid #f14f42;
        }

.hinh-anh {
     display: block; 
    padding-top: 15px;
    text-align: center;
    height: 220px;
}

.txt-5 {
    padding: 0 15px;
}
.txt-6 {
    margin-top : 15px;
     display: block; 
    height: 24px;
    margin-bottom: 5px;
    overflow: hidden;
}
    .txt-6 h3 {
        display: table;
        width: 100%;
    }

.txt-price {
    padding-bottom: 5px;
    font-size: 15px;
}

.txt-bonus {
    font-size: 13px
}

.btn-bnn {
    text-align: center;
    margin: 15px 0;
}

a {
    text-align: center;
    text-decoration: none;
}

.lst-a, .lst-a:hover {
    background: #f14f42;
    color: white;
    padding: 5px 22px 5px 22px;
    font-size: 14px;
    border-radius: 3px;
    margin-left: -20px;
}

.view-fast, .view-fast:hover {
    color: orangered;
    font-size: 14px;
    padding: 5px 15px 5px 15px;
    border-radius: 3px;
    border: 1px solid #d41212
}


.ds-1 {
height :430px;
}
    
    .show-view {
        width: 100%;
        padding: 0 15px;
        display: none;
        margin-bottom: 15px;
    }

.show-1 {
    padding-top: 20px;
    
    overflow: hidden
}

.container-1 {
    display: table;
    width: 100%;
    background: #FFFFFF;
    padding: 35px 0;
}

span.close {
    position: absolute;
    margin: -30px 1130px;
    font-size: 25px;
    color: #cccccc;
    cursor: pointer;
}

.img-2 {
    display: table-cell;
    text-align: center;
    width: 30%;
}

.part-2 {
    overflow: hidden;
    /*width: 70%;*/
}

.title-2 {
    display: block;
    margin-top: -16px;
    padding-bottom : 30px;
    border-bottom : 1px solid #f6d28f;
}

.txt-7 {
    font-size: 24px;
    color: black;
    margin-bottom: 8px;
}

.part-3 p {
    display: inline-block
}

.txt-8 {
    font-size: 15px;
    padding-left: 50px;
    display: inline-block;
    vertical-align: middle;
}

.lst-ul {
    padding-left: 10px;
    display: inline-block;
}

    .lst-ul li {
        padding: 10px;
        display: inline-block
    }

        .lst-ul li label span {
            display: inline-block;
            width: 20px;
            height: 20px;
            /*  border :1px solid #808080;*/
            border-radius: 50%
        }

        .lst-ul li label input {
            display: none;
        }

    .lst-ul li input:checked ~ span {
        border: 1px solid #026eab;
    }

.btn-bnn-1 {
   padding-left : 30px;
    padding-top: 10px;
}
.lst-a-1, .lst-a-1:hover {
    background: #f14f42;
    color: white;
    padding: 3px 22px 3px 22px;
    font-size: 14px;
    border-radius: 3px;
    margin-left: -20px;
}
.view-fast-1, .view-fast-1:hover {
    color: orangered;
    font-size: 14px;
    padding: 3px 20px 3px 20px;
    border-radius: 3px;
    border: 1px solid #d41212
}
.txt-9{
    margin : 20px 0px;
   
}
.txt-10 {
    padding: 5px;
    font-size: 14px;
}
.detail{
    margin:5px;
    padding-left :5px;
    font-size:14px;
}
.detail li p {
    padding-left : 30px;
    vertical-align :top;
    display : inline-block
}
.test{
    width :150px;
}
.of-footer {
    padding: 30px 0;
    text-align: center;
    background-color: #efefef;
    color: #000000;
}

.of-footer-link {
    margin-bottom: 10px;
    font-weight: bold;
}

    .of-footer-link a {
        font-weight: bold;
        padding: 0 5px;
        color: #000000;
    }
    /*Header*/
.of-logo {
    position :absolute;
    top: 10px;
    left: 15px;
}
.of-iconmntop {
    display: none;
    position: absolute;
    left: 15px;
    top: 16px;
    color: #b7b7b7;
    font-size: 25px;
    cursor: pointer;
}

.of-menutop {
    position: absolute;
    top: 0;
    right: 201px;
}
    .of-menutop li {
        float: left;
    }
        .of-menutop li a {
            display: block;
            height: 67px;
            padding: 10px 13px 0;
            font-size: 12px;
            color: #211f1f;
            text-align: center;
        }
            .of-menutop li a i {
                display: block;
                margin: 0 auto;
                height: 28px;
                background-image: url("../images/imenu.png");
                background-repeat: no-repeat;
            }
            .of-menutop li a span {
                display: block;
                padding: 3px 0;
            }
            .of-menutop li a:hover {
                background-color: #f3f3f3;
               
            }
       
                .of-imobile {
                    width: 15px;
                    background-position: -3px 0;
                }
/*.of-menutop li.active a .of-imobile,
.of-menutop li a:hover .of-imobile {
    background-position: -3px -32px;
}*/
.of-itablet {
    width: 31px;
    background-position: -20px 0;
}
/*.of-menutop li.active a .of-itablet,
.of-menutop li a:hover .of-itablet {
    background-position: -20px -32px;
}*/
.of-iapple {
    width: 21px;
    background-position: -53px 0;
}
.of-ilaptop {
    width: 39px;
    background-position: -76px 0;
}
.of-iswatch {
    width: 19px;
    background-position: -334px 0;
}
.of-ipkien {
    width: 29px;
    background-position: -117px 0;
}
.of-imdt {
    width: 17px;
    background-position: -359px 0;
}
.of-ixahang {
    width: 35px;
    background-position: -180px 0;
}
.of-itragop {
    width: 24px;
    background-position: -217px 0;
}
.of-ikmai {
    width: 32px;
    background-position: -241px 0;
}
.of-itinhay {
    width: 28px;
    background-position: -277px 0;
}

.of-search {
    position: absolute;
    top: 0;
    right: 120px;
    height: 67px;
    cursor: pointer;
    text-align: center;
    padding: 10px 15px 0;
    font-size: 12px;
    color: #211f1f;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
}
    .of-search:hover {
        background-color: #f3f3f3;
    }
        .of-search:hover .of-isearch {
            background-position: -306px -32px;
        }   
.of-isearch {
    display: block;
    margin: 0 auto;
    width: 23px;
    height: 28px;
    background-image: url("../images/imenu.png");
    background-repeat: no-repeat;
    background-position: -306px 0;
}
    .of-search span {
        display: block;
        padding: 3px 0;
    }
.of-call {
    position: absolute;
    top: 13px;
    right: 15px;
    cursor: pointer;
}
    .of-call span {
        font-size: 12px;
        color: #211f1f;
    }
    .of-call p {
        font-size: 16px;
        font-weight: bold;
        color: #c91010;
    }
.of-searchbox {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
}
.of-slogo {
    margin-top: 10px;
    width: 150px;
    position: absolute;
    left: 15px;
    top: 5px;
}
.of-ipsearch {
    margin-left: 0;
}
.of-ipsearch {
    padding-right: 80px;
    margin-top: 15px;
    margin-left: 200px;
}

.of-closesearch {
    position: absolute;
    top: 15px;
    right: 50px;
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
}

.of-searchbar {
    height: 67px;
    background-color: #000000;
}

/*Media*/
@media (min-width: 1260px) {
    .container {
        width: 1230px;
    }
}
@media (max-width: 992px) {
    .of-header .container {
        height: 60px;
    }
    .of-mnshow {
        display: block !important;
    }
    /*.edit-1 {
        width: 33.33%;
    }*/


    .of-logo {
        left: 50px;
        top: 12px;
        width: 130px;
    }

    .of-menutop {
        display: none;
        left: 0;
        right: 0;
        top: 60px;
        z-index: 999;
        background: #ffffff;
        -webkit-box-shadow: 0 5px 13px -2px #000;
        -moz-box-shadow: 0 5px 13px -2px #000;
        box-shadow: 0 5px 13px -2px #000;
    }

        .of-menutop li {
            width: 20%;
        }

    .of-mnshow {
        display: block !important;
    }

    .of-call {
        top: 10px;
    }

    .of-search {
        top: 7px;
        border: none;
        height: auto;
    }

        .of-search:after {
            content: " ";
            height: 30px;
            width: 1px;
            background: #cecece;
            position: absolute;
            right: -5px;
            top: 10px;
            z-index: 9;
        }

        .of-search:hover {
            background: none;
        }

        .of-search span {
            display: none;
        }

    .of-iconmntop {
        display: block;
    }
}
@media (max-width:992px){
    .of-header.container {
        height :60px;
    }
    .of-mnshow {
        display: block !important;
    }
 
    .of-call {
        top: 10px;
    }
    .of-iconmntop {
        display: block;
    }
    .of-search {
        top: 3px;
        border: none;
        height: auto;
    }
    .of-menutop li {
        width: 20%;
    }
    /*.edit-1 {
        width: 33.33%;
    }*/
        .of-search:after {
            content: " ";
            height: 30px;
            width: 1px;
            background: #cecece;
            position: absolute;
            right: -5px;
            top: 10px;
            z-index: 9;
        }
        .of-search:hover {
            background: none;
        }

        .of-search span {
            display: none;
        }
    .of-logo {
        left: 50px;
        top: 12px;
        width: 130px;
    }
        .of-menutop {
        display: none;
        left: 0;
        right: 0;
        top: 60px;
        z-index: 999;
        background: #ffffff;
        -webkit-box-shadow: 0 5px 13px -2px #000;
        -moz-box-shadow: 0 5px 13px -2px #000;
        box-shadow: 0 5px 13px -2px #000;
    }
}
@media (max-width: 350px) {
    .of-logo {
        top: 17px;
        width: 100px;
    }
    .of-menutop li {
        width: 33.33%;
    }
}
@media (max-width: 1200px) {
    .lst-a, .lst-a:hover, .lst-a:focus {
        padding: 3px 10px;
        margin-left : 7px;
        text-align:center
    }
  
    .view-fast, .view-fast:hover {
        padding: 3px 4px;
    }
    .of-logo {
        top: 16px;
        width: 120px;
    }
    .of-search {
        padding: 10px 5px 0;
    }
    .of-menutop {
        right :182px;
    }
        .of-menutop li a {
            padding: 10px 9px 0;
        }
}
@media (max-width: 480px) {
    .of-slogo {
        display: none;
    }

    .of-ipsearch {
        margin-left: 0;
    }
    .col-sm-6 {
        width: 100%;
    }
    .of-probox-img,
    .of-probox-info {
        width: 100%;
        float: none;
        padding: 15px;
    }

    .of-probox-btn li a {
        width: 100px;
    }

    .of-probox-tso ul li span {
        width: auto;
        font-weight: bold;
    }

    .of-menutop li {
        width: 25%;
    }
}
@media (max-width: 768px) {
    .of-mnshow {
        display: block;
    }
    .edit-1{
        width: 50%;
    }
    .edit-1 {
        padding: 0 6px;
    }
}
    .of-header .container {
        height: 67px;
    }